In [3]:
import mysql.connector
 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="aaaa@0000"
)
 
mycursor = mydb.cursor()
 
# mycursor.execute("SHOW DATABASES")
mycursor.execute("use test_database")
# mycursor.execute("select * from test_table")
# mycursor.execute("select * from test_user,test_status where test_status.st = test_user.status") 
mycursor.execute("select * from test_user where id >10 or age <40;") 
for x in mycursor:
  print(x)
  print(x[1])

(1, 'jack', 12341234, 20, '1', 'W', None)
jack
(6, 'jim2', 2343412543, 32, '2', 'M', 1)
jim2
(12, 'jim4', 23123443, 32, '0', 'M', 1)
jim4
(16, 'jim5', 23121123, 42, '1', 'M', 6)
jim5
(24, 'jim8', 2122133, 42, '0', 'M', 6)
jim8
(28, 'jim10', 2112343, 36, '1', 'M', 6)
jim10
(30, 'jim12', 790112343, 38, '0', 'M', 12)
jim12

In [14]:
import mysql.connector

mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="aaaa@0000"
)
mycursor=mydb.cursor()
# mycursor.execute("CREATE DATABASE runood_db")
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('runood_db',)
('sakila',)
('sys',)
('world',)

In [7]:
sql = "INSERT INTO sites (name, url) VALUES (%s, %s)"
val = ("RUNOOB", "https://www.runoob.com")
print(sql, val)

INSERT INTO sites (name, url) VALUES (%s, %s) ('RUNOOB', 'https://www.runoob.com')